* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header .header {
  width: 100vw;
  height: auto;
  background-color: #2a313c;
  color: white;
}

#header .brand {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-logo {
  height: 10rem;
}

#appointment {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://2283f51d0edd8d136347.cdn6.editmysite.com/uploads/b/2283f51d0edd8d136347e85e317bf96151df5288bd0b4c689d283159d74ea1f2/2024-01-10_07-22-26_1704892955.jpg?width=1600&optimize=medium&height=480&fit=cover&dpr=1.4630000591278076);
  background-size: cover;
  background-position: center;
}

#appointment .appointment {
  width: 40%;
  max-width:60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appointment .inputs {
  width:100%;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#appointment h2 {
  width: 60vw;
  text-align: center;
  font-size: 4vh;
  padding-bottom: 1vh;
  color: white;
}

#appointment p {
  width: 45vw;
  text-align: center;
  font-size: .5rem;
  padding-bottom: 2.5vh;
  color:white;
}

#appointment input, select, textarea {
  width: 100%;
  height: 6vh;
  border: solid 1px;
  border-radius: 6px;
  margin: 1vh 0;
  font-size: 2vh;
  background-color: black;
  color: grey;
  padding: 0 10px;
  align-items:center;
  justify-content: center;
}

#appointment select {
  padding: 0 5px;
  line-height: normal;
}

#appointment textarea {
  resize: vertical;
  padding: 5px 0 0 9px ;
}

#appointment input:hover,
#appointment select:hover,
#appointment textarea:hover {
  border: solid #A7AAA6 1px;
}


#appointment textarea {
  height: 9vh;
}

.selectors {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.selector-1 {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vh 0;

}

.selector-2 {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vh 0;

}

.radio-checkbox-label {
  color: white;
  display: flex;
  align-items: center;
  padding: 0;
  margin:0 0 0 9px;
  width: 36px;
  height: 6vh;
  white-space: nowrap;
}


.radio-checkbox-label span {
  margin-left: 5px;
  padding: 0;
  font-size: 1.5vh;
}

#appointment .submit {
  width: 60%;
  max-width: 240px;
  margin: 3px 0;
  margin-bottom: 18px;
}

#appointment .submit-button {
  background-color: white;
  opacity: 0.8;
  color: black;
  border-radius: 50px;
  padding: 0;
  text-align: center;
  height: 6vh;
  line-height: normal;
  font-size: 2vh;
  transition: opacity 0.3s ease, transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 240px;
  font-weight: bold;
}

#appointment .submit-button:hover {
  opacity: .6;
  transform: scale(.96);
}


#footer {
  background-color: #2a313c;
  width: 100vw;
  height: 10vh;
}


